*{margin:0;padding:0;box-sizing:border-box}body{font-family:Inter,sans-serif;background:#111;color:#fff}html{scroll-behavior:smooth}.hero{
    min-height:100vh;

    background-image:
        linear-gradient(
            rgba(0,0,0,0.45),
            rgba(0,0,0,0.65)
        ),
        url("./images/hero.jpg");

    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
}

.logo img{
    height:70px;
    width:auto;
    display:block;
}nav{display:flex;justify-content:space-between;padding:25px 8%}nav ul{display:flex;gap:25px;list-style:none}a{color:#fff;text-decoration:none}.logo{font-weight:700;letter-spacing:2px}.hero-content{padding:15% 8%;max-width:800px}h1{font-family:"Playfair Display";font-size:4rem;margin-bottom:20px}h2{font-family:"Playfair Display";font-size:2.5rem;margin-bottom:25px}.btn{display:inline-block;background:#c89b3c;padding:15px 30px;border-radius:50px;margin-top:20px}.section{padding:100px 8%}.dark{background:#1a1a1a}.grid{display:grid;grid-template-columns:repeat(auto-fit,minmax(240px,1fr));gap:25px}.card{background:#222;padding:40px;border-radius:20px}.gallery{display:grid;grid-template-columns:repeat(3,1fr);gap:20px}.gallery div{height:280px;border-radius:20px;background:linear-gradient(135deg,#c89b3c,#5d4720)}.steps{display:grid;grid-template-columns:repeat(auto-fit,minmax(180px,1fr));gap:20px}.steps div,.card{transition:.3s}.steps div:hover,.card:hover{transform:translateY(-5px)}footer{padding:80px 8%;text-align:center;background:#000}@media(max-width:768px){h1{font-size:2.5rem}nav{flex-direction:column;gap:15px}.gallery{grid-template-columns:1fr}}
